*.cache
*.class
*.csv
*.dat
*.dll
*.dump
*.gz
*.html
*.log
*.py
\.mixin\.out/
asm/
assetmover/
backups/
config/jei/itemBlacklist\.cfg
config/jei/searchColors\.cfg
config/jei/worldSettings\.cfg
crafttweaker_dump/
crash-reports/
downloads/
dynmap/
hei_bookmarks\.ini
journeymap/
local/
logs/
saves/
screenshots/
